<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <img ng-src="{{chat.toUser.profpic}}" style="width: 64px; height: 64px">
    <p>
      {{chat.toUser.username}}

    </p>
    <div ng-repeat = 'message in chat.messages' chat-detail-dir current-user="currentUser">
            to : {{message.toUser.username}}
            {{message.content}}
    </div>

<form action="" ng-submit="addMessageToChat( currentUser,chat.toUser, data, chat.fromUser)">
 <input ng-model='data' autocomplete="off"/>
</form>

  </ion-content>
</ion-view>
