<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <img ng-src="{{currentUser.profpic}}" style="width: 64px; height: 64px">
    <p>
      {{chat.toUser}}
    </p>
{{name}}

<form action="" ng-submit="addMessageToChat(currentUser._id, chat.toUser._id, data)">
 <input ng-model='data' autocomplete="off"/>
</form>

    {{message}}
  </ion-content>
</ion-view>
