<ion-view view-title="Login" class="landing-bg" hide-nav-bar="true">
  <img src="./../img/Instajam-logo.png" class="landing-logo"/>
  <ion-content scroll="false">
    <div id="loginPage">
    <div class="list list-inset" id="loginForm">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="user.username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
    </div>
    <button class="login-btn" id="submitBut" ng-click="login(user)">
  Login
</button>
<div id="createAcctBut">
  <div class="loginText">Dont have an account?</div>
  <button ui-sref="signup"style="float:right" class="create-btn" >
Create One!
  </button>
</div>
<!-- <div id="loginWithBut">

  <button class="button button-block button-positive">
  Login with Facebook</button>
  <button class="button button-block button-calm">
  Login with Instagram</button>
  <button class="button button-block button-balanced">
  Login with Jam</button>
</div> -->
</ion-content>
</ion-view>
</div>
