<ion-view view-title="Login" class="login-bg" hide-nav-bar="true">
  <ion-content scroll='false'>


    <div class='logoPos'>
      <div class="text1">
        instajam
      </div>
    </div>


    <!--
    <div class="list list-inset" id="loginForm">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="user.username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
    </div>
    <button class="login-btn" id="submitBut" ng-click="login(user)">
  Login
</button>
<div id="createAcctBut">
  <span style="color:#fff;">Dont have an account?</span>
  <button ui-sref="signup"style="float:right" class="create-btn" >
Create One!
  </button>
</div> -->
    <div class="customModalStuff">

      <div class="customModalButton" ng-click="openModal(1)">

        <div class="onTop">
          Login
        </div>

      </div>
    </div>
    <div class="customModalStuffSignUp">

      <div class="customModalButton" ng-click="openModal(2)">

        <div class="onTop">
          Sign Up
        </div>

      </div>
    </div>


    <script id="login.html" type="text/ng-template">
      <ion-modal-view>


      <ion-content scroll='false'>


        <div class="loginBack">


          <button class="icon icon-left " ng-click="closeModal(1)">back</button>


          <div class='logoPos'>
            <div class="text2">
              login
            </div>
          </div>
          <div class='signUpBox'>



            <div class="loginBox">

              <input class="loginBoxText" type="Email" name="name" value="" placeholder="Email">
            </div>


            <div class="loginBox">
              <input class="loginBoxText" type="password" name="name" value="" placeholder="Password">
            </div>

          </div>




        </div>

      </ion-content>
      </ion-modal-view>
    </script>

    <script id="signUp.html" type="text/ng-template">
      <ion-modal-view>


        <ion-content scroll='false'>


          <div class="loginBack">


            <button class="icon icon-left " ng-click="closeModal(2)">back</button>


            <div class='logoPos'>
              <div class="text2">
                sign up
              </div>
            </div>
            <div class='signUpBox'>
              <div class="loginBox">
                <input class="loginBoxText" type="text" name="name" value="" placeholder="First Name">
              </div>

              <div class="loginBox">
                <input class="loginBoxText" type="text" name="name" value="" placeholder="Last Name">
              </div>
              <div class="loginBox">

                <input class="loginBoxText" type="Email" name="name" value="" placeholder="Email">
              </div>


              <div class="loginBox">
                <input class="loginBoxText" type="password" name="name" value="" placeholder="Password">
              </div>

            </div>




          </div>

        </ion-content>
      </ion-modal-view>
    </script>


  </ion-content>
</ion-view>
