<ion-view view-title="Login"  hide-nav-bar="true">
  <ion-content>
    <div class="theLoginBackGround">

    <div id="loginPage">
      <img class="landing-bg" src="./img/landing-page.jpg" />
      <div class="loginHolderBox">
    <div class="list list-inset" id="loginForm">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="user.username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
    </div>
    <button class="login-btn" ng-click="login(user)">
  Login
</button>
<div id="createAcctBut">
  <span style="color:#fff;">Dont have an account?</span>
  <button ui-sref="signup" class="create-btn" >
Create One!
  </button>
</div>
</div>
<!-- <div id="loginWithBut">

  <button class="button button-block button-positive">
  Login with Facebook</button>
  <button class="button button-block button-calm">
  Login with Instagram</button>
  <button class="button button-block button-balanced">
  Login with Jam</button>
</div> -->
  </div>
</div>
</ion-content>
</ion-view>
