      <ion-modal-view>
        <ion-header-bar class="bar bar-header">
          <h1 class="title">Choose an option</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide(); modal.remove()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item" ng-click="settings()">Edit Settings <i class="icon ion-ios-gear" style="float:right; font-size: 26px;"></i></label>


            <label class="item" ng-click="profileMap()">Location <i class="icon ion-ios-location" style="float:right; font-size: 26px;"></i></label>
              <!-- <ion-toggle ng-model="disableLocation">Disable Location</ion-toggle> -->


            <button class="button button-full button-assertive" ng-click="logout(); modal.hide()">Logout  <span class="icon ion-log-out"></span></button>
          </div>
        </ion-content>
      </ion-modal-view>
