<ion-view hide-nav-bar="true">
  <div class="profile-bg"></div>
  <ion-content class="wrapper" ion-scroll="false">
    <div class="main">
      <img id="profile-image" ng-src="{{currentUser.profpic}}">
      <h2 id="profile-name">{{currentUser.username}}</h2>
      <p style="color: #b5b5b5;">
        {{currentUser.bio}}
      </p>
    </div>
    <div class="followNav">
      <div id="follow">
        <h2>{{ currentUser.followers.length }}</h2>
        <h5>Followers</h5>
      </div>
      <!-- <div>
          <button class="button button-icon" ui-sref="#">
            <i class="icon ion-star"></i>
            <h5>Follow</h5>
          </button>
        </div> -->
      <div>
        <h2>{{ currentUser.following.length }}</h2>
        <h5>Following</h5>
      </div>
    </div>
    <div class="middleNav">
      <div>
        <button class="button button-icon" ng-click="profileMap()">
          <i class="icon ion-ios-location"></i>
        </button>
      </div>
      <div>
        <button class="button button-icon" ng-click="newMessage()">
          <i class="icon ion-ios-email"></i>
        </button>
      </div>
      <div>
        <button class="button button-icon" ng-click="profileSettings()">
          <i class="icon ion-ios-settings-strong"></i>
        </button>
      </div>
    </div>
    <ion-scroll direction="y" class="thefeed">
      <div class="footer">
        <ul class="feed-container" ng-repeat='post in userPost'>
          <li class="feed-item">
            <!--User Posts -->
            <img ng-src="{{post.content}}" class='postSize'>
                <!--User Image -->
            <!--Time of Post -->
          </li>
          <div class="likesText">
              <ng-pluralize count='post.likes.length' when="{'1':'1 like',
                                  'other':'{}  likes '}">
                         </ng-pluralize>
          </div>

        </ul>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
