<ion-view title="Profile">
  <ion-content>
    <div id="profile-bg">
      <div>
        <img id="profile-image" src="../img/nick.png">
        <h3 id="profile-name">{{currentUser.username}}</h3>
        <span>Co-founder of InstaJam</span>
        <p>Followers: 3,001</p>
        <!-- <ion-toggle toggle-class="toggle-calm">Follow</ion-toggle> -->
      </div>
    </div>
        <div style="height: 250px; width=100%;">
          <ul>
            <li>
              <p>
                Repeat of Posts
              </p>
            </li>
          </ul>
        </div>
        <ion-tabs id="middleNav">
              <ion-tab icon="ion-ios-location" ui-sref="#">
                <ion-nav-view name="home"></ion-nav-view>
              </ion-tab>
              <ion-tab icon="ion-ios-email" ui-sref="#">
                <ion-nav-view name="home"></ion-nav-view>
              </ion-tab>
              <ion-tab icon="ion-ios-cog" ui-sref="#">
                <ion-nav-view name="home"></ion-nav-view>
              </ion-tab>
        </ion-tabs>
  </ion-content>
</ion-view>
