<ion-view view-title="Add a Post" class="recordBack">
  <ion-content>

    <ion-list>

    <!-- <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle> -->
    <!-- <input type="file" class="upload" prof-pic profile="profile" accept="image/*" /> -->

<!--
    <button class="button button-full button-positive" ng-click="pictureShower()">
      Post A Picture
    </button>
    <div ng-show="showPicture"> -->

    <div id="picButton" class="outerPostPic">
      <div id="innerPostPic">
      Post a Picture
    </div>
    <input id="postPic" type="file" feed-post profile="profile" accept="image/*" />
  </div>
  <div class="outerPostPic" ng-click="youtubeShower()">
    <div id="innerPostPic">
    Upload a Youtube Video
  </div>
</div>

    <!-- <input type="file" class="upload" feed-post profile="profile" accept="image/*"/> -->
</br>
</br>
</br>
</br>
</br>
    <!-- <button class="button button-assertive" style="color:black; float:left;" ng-click="youtubeShower()">
      Post a Youtube Video
    </button> -->

    <div ng-show="showYoutube" id="youtubeDiv">
      <button class="button button-small goAway" >
      </button>
    <div class="list list-inset ">
      <form action="http://www.youtube.com/results" method="get" target="_blank">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
        <input name="search_query" type="text" maxlength="128" placeholder="Search for a Youtube Video" />
        </label>
      </form>
    </div>
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" ng-model="newPost" placeholder="Paste a youtube url">
      </label>
      <button class="button button-small" ng-click="postVid(newPost, profile._id)" >
        Submit
      </button>
      </div>
    </div>


    </ion-list>

  </ion-content>

</ion-view>
