<ion-view view-title="tab-edit">
  <ion-content>
      <div>
        profile pic:{{currentUser.profpic}}
      </br>
        <button class="button button-positive" ng-click="userToggle()">user name:</button> {{currentUser.username}}
        <label style="display:none" class="item item-input">
  <input type="text" placeholder="username"
  ng-model="user.username">
          <button class="button button-positive" ng-click="editUser(user)">Change</button>
</label>
      </br>
        email: {{currentUser.email}}
      </br>
        bio: {{currentUser.bio}}
      </br>
        password: {{currentUser.password}}

      </div>  <input type="text" placeholder="username"
        ng-model="currentUser.username">
                <button class="button button-positive" ng-click="editUser(currentUser)">Change</button>
  </ion-content>
</ion-view>
