<ion-view view-title="Instajam">
<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" href="#">
        Everywhere
      </a>
      <a class="tab-item" href="#">
        Near Me
      </a>
    </div>
  </div>
  <ion-content>
    <div class="postContent">

      <div class="list" ng-repeat="post in allPosts | orderBy:'createdAt':true">
        <div class="item item-avatar">
          <img ng-src="{{post.user.profpic}}">
          <h2>{{post.user.username}}</h2>

        </div>
        <div>
            <video id="example_video_1" class="video-js vjs-default-skin"
              controls preload="auto" width="640" height="264"
              data-setup='{"example_option":true}'>
             <source ng-src="{{content}}" type="video/mp4">

            </video>
        </div>
        <div class="button-bar">
          <button class="button">
            <i class="ion-ios-chatbubble"></i>
            <button class="button" ng-click="like(currentUser._id, post._id)">
              <i class="ion-happy-outline" ></i>
            </button>
          </button>
        </div>

          {{post.user.username}}: {{post.description}} {{likesCounter(post.likes) + " likes!"}}


      </div>
    </div>


    <ion-item>
                    <div class="video-container">
                        <iframe src="http://www.youtube.com/embed/uJAWaE11Jf4" frameborder="0" width="560" height="315"></iframe>
                    </div>
                </ion-item>

  </ion-content>
</ion-view>
