<ion-view view-title="Instajam">
<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs">
      <a class="tab-item active" href="#">
        Everywhere
      </a>
      <a class="tab-item" href="#">
        Near Me
      </a>
    </div>
  </div>
  <ion-content>
    <div class="postContent">

      <div class="list" ng-repeat="post in allPosts">
        <div class="item item-avatar">
          <img ng-src="{{post.user.profpic}}">
          <h2>{{post.user.username}}</h2>

        </div>
        <div>
          <img ng-src="{{post.content}}" class="postSize">
        </div>
        <div class="button-bar">
          <button class="button">
            <i class="ion-ios-chatbubble"></i>
            <button class="button">
              <i class="ion-happy-outline" ng-click="like(currentUser._id, post._id)" ></i>
            </button>
          </button>
        </div>


          {{post.user.username}}: {{post.description}} {{likesCounter(post.likes) + "likes!"}}


      </div>
    </div>




  </ion-content>
</ion-view>
