<ion-view view-title="Edit Profile">
  <ion-content>

    <button class="button button-clear button-primary" ng-click="backProf()">Cancel</button>
    <div ng-click=''id="fileupload-example-5">
        <input type="file"  prof-pic profile="currentUser" accept="image/*" />
        <span><img class="editPic" src="{{currentUser.profpic}}" />
    </span>
    edit
    </div>
<div class="EditUserPagePicStuff">

<div class="editBoxFlex">


<div class="editUserNameOnEditPage">

      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
            <i class='ion-person'></i>
          <input type="search" placeholder="Edit Name..." ng-model="currentUser.username">
        </label>
        <button class="button button-clear" ng-click="editUser(currentUser)">
          change
        </button>
      </div>
  </div>
  <div class="editUserNameOnEditPage">

      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="ion-email"></i>
          <input type="search" placeholder="Edit email..." ng-model="currentUser.email">
        </label>
        <button class="button button-clear" ng-click="editUser(currentUser)">
          change
        </button>
      </div>
</div>
<div class="editUserNameOnEditPageBio">

      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="ion-information-circled"></i>
          <input type="search" placeholder="Edit bio..." ng-model="currentUser.bio">
        </label>
        <button class="button button-clear" ng-click="editUser(currentUser)">
          change
        </button>
      </div>

</div>
</div>




</div>


  </ion-content>
</ion-view>
