<ion-view view-title="Account" class="recordBack">
  <ion-content>
    <ion-list>
    <!-- <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle> -->
    <!-- <input type="file" class="upload" prof-pic profile="profile" accept="image/*" /> -->
    <div id="outerPostPic">
      <div id="innerPostPic">
      Post a Picture
    </div>
    <input id="postPic" type="file" feed-post profile="profile" accept="image/*" />
  </div>
    </ion-list>
  </ion-content>
</ion-view>
