
.postSize{
  width: 100%;
  height: 100%;
  max-height: 29em;


}

.item1 {
    border-color: #ddd;
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
    margin-bottom: -3px;
    text-decoration: none;
}
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.titleBox{

}

.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.embed-responsive.embed-responsive-square {
  padding-bottom: 100%;
}

.embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/*.tabs-striped.tabs-background-positive .tabs {
    background: #2F2D2E;
    background-image: none;
}*/

.button.button-positive {
  background-color: #F34A4A;
  float: right;
  bottom: 37px;
  left: 10px;
}
.distanceText{
    font-family: 'Lato', sans-serif;
    color: #F34A4A;
    float: right;
    font-size: 14px;
  }
.likesText{
    color: dodgerblue;
    font-family: 'Lato', sans-serif;
    margin-left: 5px;
}

.commentText {
  margin-left: 5px;
}

.list-item-content {
  padding: 5px;
}
.postUserName{
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    margin-bottom: 5px;
    color: dodgerblue;

}

.list-item {
  color: #666666;
}
.accountButton{
    font-size: 5em;
color: lightslategray;
position: absolute;
top: 249%;
right: 43%;
}


.hideUploadButton{

    width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;

}
.rightMessage {
text-align: right;
letter-spacing: 1.1px;
font-size: 15px;
max-width: 16em;
position: relative;
right: -25%;
padding-top: 2px;
color: black;
}

.leftMessage {
   text-align: left;
   letter-spacing: 1.1px;
   font-size: 15px;
   max-width: 16em;
   position: relative;
   left: 4%;
   padding-top: 2px;
   color: crimson;

}
.signupPage{
    background-image:url("../img/bed.jpeg");
    background-size: cover;
    background-position: 51%;
   background-repeat: no-repeat;
}
#loginPage {
  margin-top: 90%;
  }
#loginForm {
  margin-top: 30%;
}
#submitBut {
  float:right;
  margin-right: 5%;
  background-color: maroon;
}
#createAcctBut {
  font-size: 2.5vh;
  margin-top: 40%;
  margin-right: 5%;
  margin-left: 13%;
}
#loginWithBut {
  margin-top: 15%;
  margin-right: 5%;
  margin-left: 5%;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;

  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  flex: 1 100%;
}

.profile-bg {
  height: 150px;
  background-image: url('../img/drums.jpg');
  background-size: 100%;
  background-position: 50% 20%;
  position: fixed;
  left: 0;
  width: 100%;
}

.footer {
  border-top: 1px solid #ccc;
  margin: 5px;
  padding-top: 10px;
}

.middleNav {
  justify-content: space-around;
  display: flex;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.followNav {
  justify-content: space-around;
  display: flex;
}

.main {
  text-align: center;
}

#profile-name{
  margin-top: 5px;
}


#profile-image {
  display: block;
  border-radius: 6px;
  width: 100px;
  height: 100px;
  margin: 10px auto 0;
  box-shadow: 0px 5px 6px #000;
  border: 3px solid #262F34;
}
#usernameForm, #emailForm, #bioForm, #passwordForm {
  /*position: relative;*/
  display: flex;
  justify-content:flex-start;
  margin-bottom: 5%;
}
#userLabel, #emailLabel, #passwordLabel {
  /*float:left;*/
  /*margin-right: 5%;*/
  margin-left: 5%;
  font-size: 4vh;
}
#bioLabel {
  margin-left: 5%;
  font-size: 3vh;
}
.editPic {
  width:80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.bar settingsHeader {
  background-color: ccc;
}

.slide-in-left {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.slide-in-left.ng-enter, .slide-in-left > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-left.ng-enter-active, .slide-in-left > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slide-in-left.ng-leave, .slide-in-left > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); };
}

.feed-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.thefeed {
  height: 225px;
  flex-flow: column wrap;
}

.feed-item {
  background: #ccc;;
  padding: 5px;
  width: 100% ;
  height: 150px;
  margin-top: 10px;

  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

#map {
  width: 90%;
  height: 500px;
  margin-top: 50px;
  margin-right: 5%;
  margin-left: 5%;
  border-radius: 10px;
  /*border-style:solid;*/
  text-align: center;
}
.messageArea {
  margin-right: 10px;
  height: 250px;
  line-height: 30px;
  font-size: 18px;
  padding: 15px;

}

.landing-bg {
  background-image:url("../img/landing-page.jpg");
  background-size: cover;
  background-position: center;
 background-repeat: no-repeat;
}

.login-btn {
  position: relative;
  display: inline-block;
  margin: 0;
  border-color: transparent;
  border-radius: 4px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  background-color: #262F34;
  color: #fff;
  border: 2px solid;
  padding: 0 16px;
  min-width: 68px;
  min-height: 59px;
  font-size: 20px;
  line-height: 53px;
  cursor: pointer;
}

.create-btn {
  position: relative;
  display: inline-block;
  margin: 0;
  border-color: transparent;
  border-radius: 3px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  background-color: #262F34;
  color: #fff;
  border: 2px solid;
  padding: 0 16px;
  min-width: 48px;
  min-height: 49px;
  font-size: 16px;
  line-height: 43px;
  cursor: pointer;
}

.item-avatar {
  padding-left: 72px;
  height: 65px;
}

.postUserName a{
  color: #262F34;
  text-decoration: none;
  text-transform: uppercase;;
  font-size: 14px;
  font-weight: 600;
  margin: auto;
}

.button-bar > .button {
  
}

.custom-icon{
  font-size: 64px;
}

.list {
  margin-bottom: 14px;
  padding-bottom: 2px
}

.item-avatar > img:first-child {
  max-width: 50px;
  max-height: 50px;
}

.dateText {
  font-size: 12px;
  color: #AAAAAA;
}

.upload-btn {
  border-color: transparent;
  background-color: #F8F8F8;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  color: #444;
  transition: opacity 0.1s;
  padding: 0px 0px 5px 0px;
  margin:0 auto;
  display:block;
  border-radius: 14px;
  min-width: 50%;
  min-height: 43px;
}


.topContainer {
  top: 25%;
}

#contentBoxProfile {
  box-shadow: 0px 0px 13px #2D2D2D;
  margin-top: 10px;
}

/*#postPic {
  border-color: transparent;
  background-color: #387ef5;
  color: #fff; }*/

#outerPostPic {
  border-color: transparent;
  background-color: #f34a4a;
  color: black;
  width:50%;
  text-align: center;
  display:inline-block;
  vertical-align: middle;
  margin-left: 3%;
  font-size: 3vh;
  border-radius: 5px;
  margin-top: 10%;
  position: relative;
}
#innerPostPic {
  margin-top:5%;
  margin-bottom: -10%;
}
#outerPostPic:hover {
  color: black;
  text-decoration: none;
}
#outerPostPic:active {

    background-color: red;
}
#postPic{
  margin-left:-145px;
  opacity:0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.recordBack {
  background-image: url(http://www.natomasarts.com/wp/wp-content/uploads/2011/07/microphone_black_background2.jpg);
  background-size:cover;
}
  /*#postPic:hover {
    color: #fff;
    text-decoration: none; }
  #postPic.active, #postPic.activated {
    background-color: #0c60ee; }
  #postPic.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #387ef5; }
  #postPic.button-icon {
    border-color: transparent;
    background: none; }
  #postPic.button-outline {
    border-color: #387ef5;
    background: transparent;
    color: #387ef5; }
    #postPic.button-outline.active, #postPic.button-outline.activated {
      background-color: #387ef5;
      box-shadow: none;
      color: #fff; }*/

/*Override from Ionic for footer tabs*/
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    color: #fff;
}
