
.postSize{
  width: 320px;
  height: 320px;
}
.postContent{
  padding-top: 50px;
}
.list-item-content {
  padding: 5px;
}

.list-item {
  color: #666666;
}

.rightMessage {
    text-align: right;
}

.leftMessage {
    text-align: left;
}

#loginPage {
  margin-top: 90%;
  }
#loginForm {
  margin-top: 30%;
}
#submitBut {
  float:right;
  margin-right: 5%;
}
#createAcctBut {
  font-size: 2.5vh;
  margin-top: 40%;
  margin-right: 5%;
  margin-left: 13%;
}
#loginWithBut {
  margin-top: 15%;
  margin-right: 5%;
  margin-left: 5%;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;

  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.profile-bg {
  height: 150px;
  background-image: url('../img/drums.jpg');
  background-size: 100%;
  background-position: 50% 20%;
  position: fixed;
  left: 0;
  width: 100%;
}

.footer {
  border-top: 1px solid #ccc;
  margin: 5px;
  padding-top: 10px;
}

.middleNav {
  justify-content: space-around;
  display: flex;
  border-top: 1px solid #ccc;
}

.followNav {
  justify-content: space-around;
  display: flex;
}

.main {
  text-align: center;
  margin-top: 90px;
}

#profile-name{
  margin-top: 5px;
}


#profile-image {
  display: block;
  border-radius: 6px;
  width: 65px;
  height: 65px;
  margin: 30px auto 0;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
  border: 3px solid #F1D3BC;
}
#usernameForm, #emailForm, #bioForm, #passwordForm {
  /*position: relative;*/
  display: flex;
  justify-content:flex-start;
  margin-bottom: 5%;
}
#userLabel, #emailLabel, #passwordLabel {
  /*float:left;*/
  /*margin-right: 5%;*/
  margin-left: 5%;
  font-size: 4vh;
}
#bioLabel {
  margin-left: 5%;
  font-size: 3vh;
}
.editPic {
  width:80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.bar settingsHeader {
  background-color: ccc;
}

.slide-in-left {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.slide-in-left.ng-enter, .slide-in-left > .ng-enter {
  -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }

.slide-in-left.ng-enter-active, .slide-in-left > .ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slide-in-left.ng-leave, .slide-in-left > .ng-leave {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); };
}

.feed-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.thefeed {
  height: 225px;
  flex-flow: column wrap;
}

.feed-item {
  background: #ccc;;
  padding: 5px;
  width: 100% ;
  height: 150px;
  margin-top: 10px;

  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

#map {
  width: 90%;
  height: 500px;
  margin-top: 50px;
  margin-right: 5%;
  margin-left: 5%;
  border-radius: 10px;
  /*border-style:solid;*/
  text-align: center;
}
.messageArea {
  margin-right: 10px;
  height: 250px;
  line-height: 30px;
  font-size: 18px;
  padding: 15px;

}

.landing-bg {
  background-image:url("../img/landing-page.jpg");
  background-size: cover;
  background-position: center;
 background-repeat: no-repeat;
}

.login-btn {
  position: relative;
  display: inline-block;
  margin: 0;
  border-color: transparent;
  border-radius: 4px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  background-color: #262F34;
  color: #fff;
  border: 2px solid;
  padding: 0 16px;
  min-width: 68px;
  min-height: 59px;
  font-size: 20px;
  line-height: 53px;
  cursor: pointer;
}

.create-btn {
  position: relative;
  display: inline-block;
  margin: 0;
  border-color: transparent;
  border-radius: 3px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  background-color: #262F34;
  color: #fff;
  border: 2px solid;
  padding: 0 16px;
  min-width: 48px;
  min-height: 49px;
  font-size: 16px;
  line-height: 43px;
  cursor: pointer;
}
